.bubble {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 315px;
    height: 135px;
    padding: 20px 20px 0;
    background: $white;
    border-radius: 2px;
    box-shadow: 0 0 25px rgba(#000, .2);
    z-index: 3;
    @include transition;
    &.active {
        visibility: visible;
        opacity: 1;
    }
    &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent $white;
        display: block;
        width: 0;
        z-index: 1;
        left: -10px;
        top: 15px;
    }
}