.header {
    &__button {
        border-radius: 4px;
        border: 1px solid transparent;
        cursor: pointer;
        &--logout {
            @include mobile {
                border: none;
            }
            padding: .4em .8em;
            text-transform: uppercase;
            font-weight: $bold;
            font-size: .750em;
            border-color: $accent;
            color: $accent;
            background: transparent;
            @include transition;
            &:hover {
                background: $accent;
                color: $white;
            }
        }
        &--upload {
            @include mobile {
                display: none;
            }
            position: relative;
            padding: 4px 20px 12px;
            font-size: $small;
            color: $text-light;
            background: transparent;
            display: inline-block;
            border-color: $text-pale;
            i {
                color: $text-pale;
                position: relative;
                top: 3px;
                font-size: 28px;
                padding-right: 10px;
            }
        }
    }
}

.button {
    text-transform: uppercase;
    &--save,
    &--cancel {
        padding: 12px 30px;
        border-radius: 3px;
        font-weight: $bold;
        border: 1px solid transparent;
        margin-right: 20px;
        cursor: pointer;
        @include transition;
        @include mobile {
            float: right;
            position: relative;
            padding: 6px 15px;
            bottom: 35px;
            margin-right: 0;
            margin-left: 10px;
        }
    }
    &--save {
        background: $accent;
        color: $white;
        &:hover {
            opacity: .9;
        }
    }
    &--cancel {
        background: $white;
        color: $accent;
        border-color: $accent;
        &:hover {
            opacity: .9;
        }
    }
    &--edit {
        font-size: $big;
        position: absolute;
        top: 0;
        right: 0;
        background: #ecf1f5;
        height: 46px;
        width: 46px;
        line-height: 46px;
        text-align: center;
        cursor: pointer;
        @include transition;
        @include mobile {
            display: none;
        }
        &--mobile {
            top: -22px;
            right: 0;
            display: none;
            @include mobile {
                display: block;
            }
        }
        &:hover {
            background: $accent;
            color: $white;
        }
    }
}