.main {
    &__form {
        box-sizing: border-box;
        background: $white;
        display: none;
        opacity: 0;
        width: 100%;
        padding: 80px 22px 40px;
        position: relative;
        @include transition;
        @include mobile {
            &.active {
                display: block;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}