.header {
    @include grid-column(10);
    @include grid-push(1);
    @include tablet {
        @include grid-column(12);
    }
    @include mobile {
        width: 100%;
        margin: 0;
        height: auto;
        background: transparent;
        padding: 0;
    }
    box-sizing: border-box;
    position: relative;
    padding: 0 22px;
    background: $white;
    border-radius: 3px;
    height: 300px;
    margin-top: 71px;
    margin-bottom: 40px;
    overflow-x: hidden;
    &__button {
        position: absolute;
        &--logout {
            right: 22px;
            top: 22px;
        }
    }
    &__figure {
        @include flex-center;
        position: absolute;
        width: 170px;
        height: 170px;
        bottom: 22px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(#000, .15);
        z-index: 2;
        @include mobile {
            width: 128px;
            height: 128px;
            position: relative;
            margin: 30px auto 0;
        }
        &__photo {
            width: auto;
            height: 100%;
        }
    }
    &__profile {
        box-sizing: border-box;
        width: calc(100% - 247px);
        left: 225px;
        position: absolute;
        bottom: 75px;
        @include mobile {
            width: 100%;
            left: 0;
            position: relative;
            bottom: auto;
            padding: 0 22px;
        }
        &--name {
            line-height: $line-height;
            @include mobile {
                text-align: center
            }
        }
        &--location, &--phone {
            display: block; 
            float: left; 
            clear: left; 
            margin-top: .5em;
            font-size: $small;
            &:before {
                font-family: 'Ionicons';
                font-size: 18px;
                margin-right: 10px;
                color: $text-light;
            }
        }
        &--location:before {
            content: "\f455";
        }
        &--phone:before {
            content: "\f4b8";
        }
        &__reviews {
            display: inline-block;
            color: $text-light;
            position: absolute;
            width: auto;
            top: 0;
            right: 0;
            @include mobile {
                position: relative;
                display: block;
                clear: both;
                top: 10px;
            }
            &--text {
                font-size: $smaller;
                font-weight: $medium;
            }
        }
    }
    &__menu {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: $white;
        box-shadow: $shadow;
        @include mobile {
            position: relative;
            margin-top: 10px;
        }
        &__list {
            position: absolute;
            left: 225px;
            width: auto;
            overflow: hidden;
            white-space: nowrap;
            @include tablet {
                overflow-x: scroll;
                width: 300px;
            }
            @include mobile {
                overflow-x: scroll;
                width: 100%;
                left: 0;
                position: relative;
            }
        }
        &__item {
            line-height: 58px;
            display: inline-block;
            text-transform: uppercase;
            margin-right: 30px;
            border-bottom: 2px solid transparent;
            @include transition;
            &.active, &:hover {
                border-bottom: 2px solid $accent;
            }
            @include mobile {
                &--first {
                    margin-left: 22px;
                }
            }
        }
    }
    &__followers{
        position: absolute;
        display: inline-block;
        right: 22px;
        bottom: 0;
        font-size: $smaller;
        color: $text-light;
        z-index: 3;
        @include mobile {
            position: relative;
            display: block;
            left: 22px;
            top: 6px;
        }
        i {
            position: relative;
            top: 3px;
            font-size: 24px;
            margin-right: 10px;
            @include transition;
            &:hover {
                color: $accent;
            }
        }
        &--num {
            line-height: 60px;
            font-size: 14px;
            color: $text-dark;
        }
    }
    &__cover {
        margin: auto;
        text-align: center;
        margin-top: 75px;
        &__file {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    }
}