.rating {
    float: left;
    margin-right: 30px;
    margin-top: 3px;
    @include mobile {
        float: none;
    }
    &__wrap {
        display: inline-block;
        font-size: $big;
    }
    &__icon {
        float: right;
        padding-left: 4px;
        cursor: pointer;
        color: $text-light;
        @include mobile {
            color: $accent
        }
        &:hover {
            &:before,
            ~ .rating__icon:before {
                content: "\f2fc";
            }
        }
    }
    &__input {
        display: none;
        &:checked ~ .rating__icon:before {
            content: "\f2fc";
        }
    }
}