@import "neat";
@import "base/_reset";
@import "helpers/_variables";
@import "helpers/_mixins";
@import "components/_header";
@import "components/_buttons";
@import "components/_rating";
@import "components/_main";
@import "components/_bubble";
@import "components/_inputs";
@import "components/_form-mobile";

body {
    width: 100%;
    height: 100%;
    line-height: $line-height;
    background: $background;
    font-family: $font;
    color: $text-dark;
    overflow: auto;
    @include grid-container();
}